@import "base/reset";
@import "base/variables";
@import "base/typography";


#main-container {
    margin: var(--s-5) auto var(--s3);
    width: 90%;
    max-width: 1200px;
    display: grid;
    grid-template-rows: auto 1fr;
}

a {
    color: var(--midnight);
    text-decoration: none;
    transition: all 0.25s ease;
    cursor: pointer;
    border-bottom: 3px solid var(--midnight);
    &:hover {
        border-bottom: 3px solid var(--pink);
    }
}
a.shadow {
    border-bottom: none;
    box-shadow: inset 0 -0.5ch var(--blue);
    &:hover,
    &:active,
    &:focus {
        color: var(--white);
        border-bottom: none;
        box-shadow: inset 0 -2ch var(--pink);
    }
}

.icon-svg {
    width: 30px;
    height: 30px;
}

.lead {
    margin: var(--s-1) 0;
    font-family: "Roboto Slab";
    font-weight: 800;
    font-size: 7rem;
    font-size: clamp(var(--s2), 10vw, 6rem);
}

.active {
    // border-bottom: 3px solid var(--pink);
    color: pink;
}

@media (min-width: 50em) {
    #main-container {
        margin: var(--s0) auto var(--s3);
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        grid-gap: var(--s1);
    }
    .lead {
        margin-top: 0;
    }
}

@media (min-width: 75em) {
    .lead {
        &::after {
            margin-inline-start: var(--s0);
            content: "👋";
        }
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: var(--white);
        color: var(--midnight);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--midnight);
        color: var(--white);
    }
    a {
        color: var(--white);
        text-decoration: none;
        transition: all 0.25s ease;
        border-bottom: 3px solid var(--blue);
    }
}
