@import "base/reset";
@import "base/variables";
@import "base/typography";
@import "base/dark-theme";

#main-container {
    margin: var(--s-5) auto var(--s3);
    width: 90%;
    max-width: 1100px;
    display: grid;
    grid-template-rows: auto 1fr;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: all 0.25s ease;
    cursor: pointer;
    border-bottom: 3px solid var(--link-border-color);
    &:hover {
        border-bottom: 3px solid var(--link-border-hover);
    }
    &.nav--item {
        color: var(--text-color);
    }
}
a.shadow {
    border-bottom: none;
    box-shadow: inset 0 -0.5ch var(--link-shadow-color);
    &:hover,
    &:active,
    &:focus {
        color: var(--link-hover-color);
        border-bottom: none;
        box-shadow: inset 0 -2ch var(--link-shadow-hover);
    }
}

.icon-svg {
    width: 30px;
    height: 30px;
}

.lead {
    margin: var(--s-1) 0;
    font-family: "Roboto Slab";
    font-weight: 800;
    font-size: 7rem;
    font-size: clamp(var(--s2), 10vw, 6rem);
}

.active {
    // border-bottom: 3px solid var(--pink);
    color: pink;
}

.visually-hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}

@media (min-width: 50em) {
    #main-container {
        margin: var(--s0) auto var(--s3);
        grid-template-columns: minmax(20ch,40ch) minmax(auto,1fr);
        grid-template-rows: 1fr;
        grid-gap: var(--s1);
    }
    .lead {
        margin-top: 0;
    }
}

@media (min-width: 75em) {
    .lead {
        &::after {
            margin-inline-start: var(--s0);
            content: "👋";
        }
    }
}
