#layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main-container {
    margin: var(--s3) auto var(--s3);
    width: 90%;
    max-width: var(--max-width);
    flex: 1 0 auto;
}

main {
    width: 100%;
}

ul {
  padding-inline-start: 0;
}
