---
layout: layouts/base.njk
title: 'Matt DeCamp - Blog'
pagination:
    data: collections.post
    size: 3
    alias: blogs
    reverse: true
permalink: "blog/{% if pagination.pageNumber>0 %}page-{{ pagination.pageNumber +1 }}{% endif %}/index.html"
---

{% include "partials/components/post-list.njk" %} 