---
layout: layouts/base.njk
title: 'Matt DeCamp - Front-End Web Developer'
permalink: '/'
---

<div id="main-container">
    <nav>
        <ul>
            <li>
                <a href="#">Projects</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Photography</a>
            </li>
            <li>
                <a href="#">Music</a>
            </li>
            <li>
                <a href="#">CV</a>
            </li>
        </ul>
    </nav>
    <main>
        <h1 class="lead">
            Hi, I'm Matt.
        </h1>
        <p>
            I am a Frontend Web Developer and Music Industry Professional, based in Athens, Georgia. I also play <a href="" class="shadow">music</a>, take <a href="" class="shadow">photographs</a> and <a href="" class="shadow">write about stuff</a>.
        </p>
        <div>
            <a href="#" class="button">
                <button>Hire Me</button>
            </a>
        </div>
    </main>
</div>