---
layout: layouts/base.njk
title: 'Home'
permalink: '/'
---
        <h1 class="lead">
            Hi, I'm Matt
        </h1> 
        <p>
            I am a Front-End Web Developer and Music Industry Professional based in Athens, Georgia. I also play music, take photographs and write about stuff.
        </p>
        <p>
            Currently booking web design projects for the late summer and fall of 2020.
        </p>
        <div>
            <a href="/about#contact" class="button" title="Get in Touch">
                <button tabindex="-1" aria-hidden="true">Get In Touch</button>
            </a>
        </div>