---
layout: layouts/base.njk
title: 'Web Developer, Music Industry Professional'
permalink: '/'
---
        <h1 class="lead">
            Hi, I'm Matt
        </h1> 
        <p>
            A Web Developer and Music Industry Professional based in Athens, Georgia.
        </p>
        <div>
            <a href="mailto:{{ site.siteEmail }}" class="button" title="Get in Touch">
                <button tabindex="-1" aria-hidden="true">Get In Touch</button>
            </a>
        </div>
        