---
layout: default
pagination:
    data: collections
    size: 1
    alias: tag
permalink: /tags/{{ tag }}/
---
<h1>Posts filed under “{{ tag }}”</h1>
<hr>
<ul class="post-list">
    {% set taglist = collections[tag] %}
    {% for post in taglist | reverse %}
        <li class="post-list--post">
            <h2 >
                <a href="{{ post.url | url }}" class="shadow">{{ post.data.title }}</a>
            </h2>
            <time value="{{ post.item.date }}" >{{ post.date | readableDate }}</time>
            <div class="excerpt">
                {% excerpt post %}
            </div>
        </li>
    {% endfor %}
</ul>