<footer>
    <div id="footer--container">
        <div id="copyright">
            <span class="f-text f-bold">&copy; {{ site.year }}</span>
            <span class="f-text">{{ site.authorName }}  //  <a href="mailto:{{ site.siteEmail }}">{{ site.siteEmail }}</a></span>
        </div>
    </div>
</footer>