<footer>
  <div id="footer--container">
    <div id="copyright">
      <p>
        <span class="f-text f-bold">&copy; {{ site.year }}</span>
        <span class="f-text"
          >{{ site.authorName }} //
          <a href="mailto:{{ site.siteEmail }}">{{ site.siteEmail }}</a></span
        >
      </p>
      <p><span>Turn off styles</span></p>
    </div>
  </div>
</footer>
