<div id="announcement">
    <a href="https://blacklivesmatter.com/">#BlackLivesMatter</a>
    <a href="https://eji.org/">The Equal Justice Initiative</a>
    <a href="https://atlsolidarity.org"/>Atlanta Solidarity Fund</a>
    <a href="https://deletefacebook.com/">Delete Facebook</a>
</div>
<header>
    <div id="header--home">
        <div>
            <a href="/" class="nav--item">decamp.dev</a>
        </div>
    </div>
    <div id="avatar--container">
        <a href="/" title="Home">
            <div id="avatar"></div>
        </a>
    </div>
    <div id="bar-blue"></div>
    <div id="bar-green"></div>
</header>