<div id="announcement">
    <a href="https://www.rescue.org/">International Rescue Committee</a>
    <a href="https://www.unicef.org/">UNICEF</a>
    <a href="https://blacklivesmatter.com/">#BlackLivesMatter</a>
    <a href="https://deletefacebook.com/">Delete Facebook</a>
</div>
<header>
    <div id="header--home">
        <div id="site--logo">
            <div class="user-toggle">
                <div role="status" class="visually-hidden js-mode-status"></div>
                <button class="toggle-button js-mode-toggle" tabindex="-1" aria-hidden="true">
                    <span class="toggle-button__icon" aria-hidden="true"></span>
                </button>
            </div>
            <a href="/" class="nav--item">decamp.dev</a>
        </div>
    </div>
    <div id="avatar--container">
        <a href="/" title="Home" tabindex="-1" aria-hidden="true">
            <div id="avatar"></div>
        </a>
    </div>
    <div id="bar-blue"></div>
    <div id="bar-green"></div>
</header>