<header>
    <div id="header--home">
        <div>
            <a href="/" class="nav--item">decamp.dev</a>
        </div>
    </div>
    <div id="avatar--container">
        <a href="/" title="Home">
            <div id="avatar"></div>
        </a>
    </div>
    <div id="bar-blue"></div>
    <div id="bar-green"></div>
</header>