---
layout: layouts/base.njk
---

<article>
    <div class="article__header">
        <h1>{{ title }}</h1>
        <time value="{{ item.date }}" >{{ date | readableDate }}</time>
    </div>
    
    <div id="">
        {{ content | safe }}
        <hr />
    </div>
    {% if tags -%}
    <ul class="article__tags">
        <li>Filed Under:</li>
    {% for item in tags -%}
    {% if item != 'article' %}
        <li class="article__tag">
            <a href="/tags/{{ item }}">{{ item }}</a>
        </li>
    {% endif %}
    {% endfor -%}
    <ul>
    {% endif -%}
</article>