---
layout: layouts/base.njk
---

<article>
    <div class="article__header">
        <h1>{{ blog.title }}</h1>
        <time value="{{ blog.pubDate | dateTime }}" >{{ blog.pubDate | fixDate }}</time>
    </div>
    <div id="">
        {{ content | safe }}
        <hr />
    </div>
</article>