---
layout: layouts/books.njk
title: "Books"
permalink: "/books/index.html"
---

<h1>Books</h1>
<p>
  Here is a running list of books I've read recently. Click on any book cover for a link to more information and ways to purchase from independent bookstores.
</p>

{% include "partials/components/book-list.njk" %}