---
layout: layouts/base.njk
title: "Web Developer, Music Industry Professional"
permalink: "/"
---

<h1>Hello! I'm Matt.</h1>
<p>This is my home base.</p>
<p>
  Here you can learn a bit <a href="/about">about me</a>, check out some of <a href="/projects">my work</a>, and read up on my <a href="/resume">professional experience</a>. If you're looking for something to read, here's a <a href="/books">running list of books I've been reading</a>.
</p>
<p>
  Professionally, I build websites at <a href="https://happybear.dev">Happy Bear</a>, and manage
  the digital content and archive for the folks at <a href="https://widespreadpanic.com">Widespread Panic</a>.
</p>
