---
layout: default
title: "Projects"
permalink: "/projects/index.html"
---

<h1>Select Projects</h1>
<h2>Coding</h2>
{% include "partials/components/project-cards-coding.njk" %}
<h2>Media</h2>
{% include "partials/components/project-cards-media.njk" %}