---
layout: default
title: "Work"
permalink: "/work/index.html"
---

<h1>Select Projects</h1>
<h2>Coding</h2>
{% include "partials/components/project-cards-coding.njk" %}
<h2>Video</h2>
{% include "partials/components/project-cards-media.njk" %}
<h2>Music</h2>
<h3>Product Manager</h3>
<h4>Widespread Panic Multi-track Series</h4>
<ul>
  <li>Oak Mountain 2001 #1</li>
  <li>Oak Mountain 2001 #2</li>
  <li>Oak Mountain 2001 #3</li>
  <li>Jacksonville 1999</li>
  <li>Columbia 1995</li>
  <li>Knoxille 1995</li>
  <li>Northampton 1998</li>
  <li>Boone 1999</li>
  <li>Hampton 1999</li>
</ul>
<h4>Widespread Panic Porch Songs Series</h4>
<ul>
  <li>Oxford 1995</li>
  <li>Glenside 1995</li>
  <li>Memphis 2000</li>
  <li>Bozeman 2001</li>
  <li>Chattanooga 2001</li>
  <li>Cedar Rapids 2002</li>
  <li>Santa Cruz 1992</li>
  <li>Asheville 2000</li>
  <li>Charlotte 2001</li>
  <li>San Francisco 1992</li>
  <li>Pittsburgh 1995</li>
  <li>Red Rocks 1991</li>
  <li>Bozeman 2000</li>
  <li>Tempe 1995</li>
  <li>Detroit 1996</li>
  <li>Winston-Salem 1991</li>
  <li>Koblenz 1998</li>
  <li>Mobile 1996</li>
  <li>New Orleans 1992</li>
</ul>
<h3>Digital Marketing</h3>
<h4>Release Campaigns</h4>
<ul>
  <li>Widespread Panic Multi-track Series 2008 - Present</li>
  <li>Widespread Panic Porch Song Series 2008 - 2018</li>
</ul>
<h4>Tour Marketing</h4>
<ul>
  <li>Widespread Panic Tours 2006-2016</li>
  <li>Widespread Panic Shows & Appearances 2017 - Present</li>
</ul>