#bookList {
  display: grid;
  padding-left: 0;
  margin-block-start: var(--space-s);
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1.75rem;
  list-style-type: none;
}
.book {
  display: grid;
  grid-template-rows: 1fr auto;
  & img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1.6;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  }
  & .bookInfo {
    & h4,
    p {
      margin: var(--s-2) 0;
    }
    & p {
      line-height: 1;
    }
    & .bookDate {
      font-size: clamp(var(--s-2), 4vw, var(--s-1));
    }
  }
}

.bookStatus {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.headphones {
  flex-basis: 1rem;
  & svg {
  height: 2rem;
  }
}