button {
  color: var(--white);
  font-size: var(--s0);
  font-family: var(--font-secondary);
  padding: var(--s0) var(--s-1);
  background: var(--pink);
  box-shadow: 3px 3px var(--midnight);
  border: 0;
  cursor: pointer;
}
