footer {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
  & p {
    font-size: var(--s-1);
    font-family: var(--font-secondary);
    &:nth-child(2) {
      font-family: var(--font-primary);
    }

  }
  
}
#footer--container {
  width: 90%;
  padding: var(--s2) 0;
}





@media (min-width: 70em) {
  #footer--container {
    width: 60%;
  }
}
