header {
  border-bottom: 0.15rem solid var(--midnight);
}
#header--container {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--s-1) 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#site--logo {
  max-width: 6rem;
  & svg {
    height: 4rem;
    padding: 0 var(--s-5);
    stroke: var(--midnight);
    stroke-width: 20px;
    fill: none;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
}


@media (min-width: 50em) {
  #header--container {
    padding: var(--s-3) 0;
  }
}
