header {
  border-bottom: 0.15rem solid var(--midnight);
}
#header--container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--s-3) 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


@media (min-width: 50em) {
  
}
