nav a {
text-decoration: none;
}
  nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--s0);
  font-size: clamp(var(--s-5), var(--s-1), var(--s0));
}

.nav--item {
    color: var(--text-color);
    font-family: var(--font-secondary);
    border-bottom: none;
  }

.nav--active {
  text-decoration: underline;
}

@media (min-width: 70em) {
  
}
