nav a {
text-decoration: none;
}
  nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--s0);
  // align-items: center;
  font-size: clamp(var(--s-2), var(--s-1), var(--s0));
}

@media (min-width: 70em) {
  
}
