.project-list--item {
  min-width: 100%;
  padding: var(--s1);
  display: flex;
  flex-direction: column;
  gap: var(--s-1);

  background-color: var(--white);
  border: 3px solid var(--grey);
  border-radius: 15px;

  & p {
    font-size: var(--s0);
  }
  & a {
    color: var(--pink);
  }
}

.project-list--item_description {
  flex: 1 0 auto;
}

.project-list--item_links {

  font-size: var(--s0);
}
