    <nav>
        <ul>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/blog">Blog</a>
            </li>
            <li>
                <a href="#">Photography</a>
            </li>
            <li>
                <a href="#">Music</a>
            </li>
            <li>
                <a href="#">CV</a>
            </li>
        </ul>
    </nav>