<nav>
  <ul id="navigation">
    {%- for item in nav.items -%}
    <li>
      <a class="nav--item" href="{{ item.url }}" title="{{ item.title }}">
        {{ item.name }}
      </a>
    </li>
    {%- endfor -%}
  </ul>
</nav>
