    <nav>
        <ul id="navigation">
            <li>
                Home
            </li>
            <li>
                <a href="/blog" class="nav--item">Blog</a>
            </li>
            {# <li>
                <a href="/projects" class="nav--item">Projects</a>
            </li> #}
            <li>
                <a href="/photography" class="nav--item">Photography</a>
            </li>
            <li>
                <a href="/music" class="nav--item">Music</a>
            </li>
            <li>
                <a href="/about" class="nav--item">About</a>
            </li>
        </ul>
    </nav>