{%- for blog in blogItems %}

<h3>{{ blog.date | dateTime }}</h3>
{%- endfor -%}
<ul class="article-list">
  {% for blog in blogs | reverse %}
  <li>
      <div>
          <time value="{{ blog.pubDate | dateTime }}">
            <h5>
              {{ blog.pubDate | fixDate }}
            </h5>
          </time>
          <h2>
            <a href="/blog/{{ blog.title | slug | url }}/">{{ blog.title }}</a>
          </h2>
          <p>
            {{ blog.excerpt }}
          </p>
      </div>
  </li>

  {%- endfor -%}
</ul>
