<ul id="bookList">
  {% for book in notionBooks.json.results %}
  <li class="book">
    <div class="bookImageContainer">
      <a href="{{ book.properties.bookBuyUrl.url }}">
        <picture>
          <img class="bookImage" src="{{ book.properties.bookImage.url }}"
            alt="The book cover for {{ book.properties.bookTitle.rich_text[0].text.content }}" loading="lazy"
            height="220" />
        </picture>
      </a>
    </div>
    <div class="bookInfo">
      <h4 class="bookTitle">
        {{ book.properties.bookTitle.rich_text[0].text.content }}
      </h4>
      {% if book.subTitle %}
      <p class="bookSubTitle">
        {{ book.properties.subTitle.rich_text[0].text.content }}
      </p>
      {% endif %}
      <p class="bookAuthor">
        <em>{{book.properties.bookAuthor.rich_text[0].text.content}}</em>
      </p>
      <div class="bookStatus">
        {% if book.properties["Audiobook"].checkbox == true %}
        <span class="headphones">
          {% svgsprite %}
          {% icon "headphones" %}
        </span>
        {% endif %}
        <p class="bookDate">
          {% if book.properties["Status"].checkbox == false %}
          <span style="color: var(--pink);font-weight:bold">
            Currently 
            {% if book.properties["Audiobook"].checkbox == false %}
            Reading
            {% else %}
            Listening
            {% endif %}
          </span>
          {% elif book.properties["Didn't Finish"].checkbox == true %}
          Didn't Finish 🙁
          {% else %}
          Finished: {{book.properties.dateRead.date.start | fixDate }}
          {% endif %}
        </p>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>