
a.button {
    border-bottom: 0;
    &:hover button {
        background: var(--button-hover);
        border-bottom: 0px;
    }
    &:active button {
        box-shadow: none;
    }
}

button {
    padding: var(--s0);
    border: 0;
    background: var(--button-color);
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--button-text-color);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* 
    DARK 
    Color Scheme Button Styling 
*/

// @media (prefers-color-scheme: dark) {

//     a.button {
//         &:hover button {
//             background-color: var(--background);
//         }
//         &:active button {
//             box-shadow: none;
//         }
//     }

//     button {
//         padding: var(--s0);
//         border: 0;
//         background: var(--button-color);
//         font-family: 'Roboto Slab', sans-serif;
//         font-weight: 600;
//         color: #f8f8f8;
//         box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
//         cursor: pointer;
//     }
// }