/* 
    LIGHT 
    Color Scheme Button Styling 
*/

@media (prefers-color-scheme: light) {

    a.button {
        &:hover button {
            background-color: var(--blue);
        }
        &:active button {
            box-shadow: none;
        }
    }

    button {
        width: 10.2rem;
        height: 4.1rem;
        border: 0;
        background: var(--pink);
        font-family: Bitter, serif;
        font-weight: 600;
        font-size: 1.75rem;
        color: #f8f8f8;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
}

/* 
    DARK 
    Color Scheme Button Styling 
*/

@media (prefers-color-scheme: dark) {

    a.button {
        &:hover button {
            background-color: var(--pink);
        }
        &:active button {
            box-shadow: none;
        }
    }

    button {
        width: 10.2rem;
        height: 4.1rem;
        border: 0;
        background: var(--blue);
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 600;
        font-size: 1.7rem;
        color: #f8f8f8;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
}