nav {
  font-family: "Georgia", serif;
}

nav ul {
  margin: 0;
  // padding: 0;
  padding-inline-start: 0px;
  font-size: clamp(var(--s1), var(--s1), var(--s2));
  font-weight: bold;
  text-align: center;
  & li {
    display: inline-block;
    list-style-type: none;
    padding: var(--s-3) var(--s-3);
    font-size: var(--s1);
    // font-size: clamp(var(--s-1), var(--s1), var(--s2));
  }
  & li#nav--home {
    display: none;
  }
}

@media (min-width: 50em) {
  nav ul {
    text-align: left;
    & li {
      display: block;
      padding: var(--s-1);
      line-height: var(--2);
      font-size: var(--s1);
      font-size: clamp(var(--s-1), var(--s2), var(--s2));
    }
    & li#nav--home {
      display: block;
      font-family: "Roboto Slab", sans-serif;
      font-size: var(--s3);
    //   background: linear-gradient(
    //     90deg,
    //     var(--blue) 0%,
    //     var(--green) 20%,
    //     var(--yellow) 60%,
    //     var(--pink) 100%
    //   );
    //   background-clip: text;
    //   -webkit-text-fill-color: transparent;

      & a {
        border: 0;
        }
    }
    }
}
