nav {
    font-family: 'Georgia', serif;
}

nav ul {
    // margin: 0;
    // padding: 0;
    padding-inline-start: 0px;
    // font-size: clamp(var(--s1), var(--s2), var(--s3));
    font-weight: bold;
    text-align:center;
    & li {
        display:inline-block;
        list-style-type: none;
        padding: var(--s-3) var(--s-1);
        font-size: var(--s1);
        // font-size: clamp(var(--s-1), var(--s1), var(--s2));
    }
}

@media (min-width: 50em) {
    nav ul {
        text-align: left;
        & li {
        display: block;
        padding: var(--s-3);
        line-height: var(--s2);
        }
    }
}

