#progress--item-list {
  list-style: none;
  padding: 0;
}

.progress--item {
  display: flex;

  & .progress--item-line {
    position: relative;
    width: 25px;
    flex-shrink: 0;
    &::before {
      position: absolute;
      top: 20px;
      left: 0;
      content: "";
      width: 3px;
      height: 100%;
      background-color: var(--link-shadow-color);
    }
    & .circle {
      position: absolute;
      height: 15px;
      width: 15px;
      background-color: var(--link-border-color);
      left: 0;
      top: 8px;
      margin-top: 0px;
      margin-left: -6px;
      border-radius: 100px;
    }

    & .progress--item-content {
      /* comment */
      border: none;
    }
  }
}

li:nth-of-type(even) .progress--item .progress--item-line .circle {
    background-color: var(--link-border-hover);
  }