#announcement {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: black;
    font-family: 'Roboto Slab', sans-serif;
    & a {
        margin: var(--s-5) 0 var(--s-4);
    }
}