ul.post-list {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    // grid-gap: var(--s0);
    // list-style-type: none;
    padding-inline-start: 0;
    
    & h2 a {
        border-bottom: 0;
        // text-decoration: underline;
        // text-decoration-color: var(--blue);
        color: var(--white);
        cursor: pointer;
        // &:hover {
        //     text-decoration: underline;
        //     text-decoration-color: var(--yellow);
        // }
    }
    & p {
        margin-bottom: var(--s-1);
    }

    li hr.post-list--break {
        border: 0.10rem solid var(--yellow);
        margin-top: var(--s2);
    }
    li:nth-child(2n) {
        & h2 a:hover {
            text-decoration-color: var(--pink);
        }
        & hr.post-list--break {
            border-color: var(--pink);
        }
    }

    & .read-more {
        font-size: var(--s0);
        text-align: right;
    }
}

.post-list--nav {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    & li a {
        font-family: 'Roboto Slab', sans-serif;
        font-size: var(--s0);
        font-size: clamp(var(--s0), 2vw, var(--s1));
    }
}

// @media (prefers-color-scheme: dark) {
//     ul#post-list {
        
//         & h2 a {
//             text-decoration-color: var(--blue);

//             &:hover {
//                 text-decoration-color: var(--pink);
//             }
//         }
//     }
// }

/* 
    POST TAGS
*/

ul#tags {
    padding-inline-start: 0;
    text-align:right;
    & li {
    display: inline-block;
    padding: var(--s-4) var(--s0);
    background: var(--blue);
    font-family: 'Roboto Slab';
    font-weight: 600;

        &:hover {
            background: var(--pink);
        }
        &:first-child {
            background: transparent;
            font-size: var(--s1);
            &:hover {
                background: transparent;
            }
        }
        
    }
    & a {
        border: 0;
    }
}