body {
  background: var(--background);
  color: var(--text-color);
  transition: background 500ms ease-in-out, color 200ms ease;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-mode: 'dark';
    }
    :root:not([data-user-color-scheme]) {
        --background: var(--midnight);
        --text-color: var(--white);
        --link-color: var(--white);
        --link-hover-color: var(--blue);
        --link-border-color: var(--pink);
        --link-border-hover: var(--yellow);
        --link-shadow-color: var(--blue);
        --link-shadow-hover: var(--pink);
        --button-color: var(--blue);
        --button-hover: var(--pink);
        --button-text-color: var(--white);
        --hr: var(--white);
        --post-even-shadow: var(--green);
        --post-odd-shadow: var(--blue);
        --button-icon: var(--icon-sun);
        --button-icon-filter: var(--icon-sun-filter);
    }
}
[data-user-color-scheme='dark'] {
    --background: var(--midnight);
    --text-color: var(--white);
    --link-color: var(--white);
    --link-hover-color: var(--blue);
    --link-border-color: var(--pink);
    --link-border-hover: var(--yellow);
    --link-shadow-color: var(--blue);
    --link-shadow-hover: var(--pink);
    --button-color: var(--blue);
    --button-hover: var(--pink);
    --button-text-color: var(--white);
    --hr: var(--white);
    --post-even-shadow: var(--green);
    --post-odd-shadow: var(--blue);
    --button-icon: var(--icon-sun);
    --button-icon-filter: var(--icon-sun-filter);
}