---
layout: layouts/base.njk
title: 'Web Developer, Music Industry Professional'
permalink: '/'
---
        <h1>
            Hi, I'm Matt
        </h1> 
        <p>
            I am a Web Developer and Music Industry Professional based in Athens, Georgia.
        </p>
        <p>
            For over a decade I have been building websites professionally for clients and friends across many industries.
        </p>
        <p>
            And for the last fifteen years I have been an active member of the Athens music scene as an artist manager, digital marketer, recording enginer, and ally of musicians and performers.
        </p>
        <div>
            <a href="mailto:{{ site.siteEmail }}" class="button" title="Get in Touch">
                <button tabindex="-1" aria-hidden="true">Get In Touch</button>
            </a>
        </div>
        