---
layout: layouts/base.njk
title: "Web Developer, Music Industry Professional"
permalink: "/"
---

<h1>Hello! I'm Matt.</h1>
<p>This is my home base.</p>
<p>
  You can check out some of <a href="/projects">my projects</a>, learn a bit
  <a href="/about">about me</a>, or read up on <a href="/cv">my work experience</a>.
</p>
<p>
  Professionally, I build websites at <a href="https://happybear.dev">Happy Bear</a>, and handle
  digital and archives for the dear folks at <a href="https://widespreadpanic.com">Widespread Panic</a>.
</p>
