<footer>
  <div id="footer--container">
    <p>
      <ul>
        <li>
          &copy; {{ site.year }} {{site.name}}
        </li>
        {% for link in site.matt.links %}
        <li>
        <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </p>
  </div>
</footer>
