<footer>
  <div id="footer--container">
    <p>
      <span>
        &copy; {{ site.year }} 
        {{ site.authorName }} //
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </span>
    </p>
  </div>
</footer>
