<footer>
  <div id="footer--container">
    <p>
      <span>
        <strong>&copy; {{ site.year }}</strong> 
        {{ site.authorName }} //
        <a href="mailto:{{ site.siteEmail }}">{{ site.siteEmail }}</a>
      </span>
    </p>
  </div>
</footer>
