<header>
  <div id="header--container">
    <div id="header--home">
      <a href="/">
        <div id="site--logo">
            {% svgsprite %}
            {% icon "md-initials" %}
        </div>
      </a>
    </div>
    {% include "partials/components/nav.njk" %}
  </div>
</header>
