@charset "UTF-8";
/* box sizing */
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  scrollbar-gutter: stable; }

/* remove margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* text overflows */
h1, h2, h3, h4, h5, h6, p {
  overflow-wrap: break-word;
  hyphens: auto; }

/* smooth scroll for all html elements */
html:focus-within {
  scroll-behavior: smooth; }

/* body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6; }

/* list styles */
/* tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* fluid images */
img, video, picture, cavas, svg {
  max-width: 100%;
  display: block; }

/* inherit font for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* remove anmation for reduced motion preferences */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

:root {
  /* SIZING */
  --max-width: 960px;
  /* FONTS */
  --font-secondary: "Lilita One", serif;
  --font-primary: Georgia, sans-serif;
  /* COLORS */
  --color-mode: "light";
  --text-color: var(--midnight);
  --text-accent-color: var(--midnight-grey);
  --pink: hsl(346, 84%, 61%);
  --hover-pink: hsl(346, 74%, 61%);
  --yellow: hsl(42, 100%, 70%);
  --green: hsl(164, 95%, 43%);
  --blue: hsl(195, 83%, 38%);
  --midnight: hsl(195, 83%, 16%);
  --midnight-lighter: hsl(195, 82%, 26%);
  --midnight-grey: hsl(197, 10%, 35%);
  --grey: #b2c2c6;
  --white: white;
  /* GLOBAL STYLES */
  /* MODULAR SPACING */
  --ratio: 1.2;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1.125rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio)); }

/* Need to include sizes for */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 500; }

h1 {
  margin-bottom: var(--s-4);
  font-size: var(--s3);
  font-size: clamp(var(--s4), 5vw, var(--s5)); }

h2, h2 a {
  color: var(--midnight-lighter);
  margin-bottom: var(--s-5);
  font-size: var(--s2);
  font-size: clamp(var(--s2), 4vw, var(--s4));
  margin-block-end: 0.1rem; }

h3 {
  font-size: var(--s1);
  font-size: clamp(var(--s1), 3vw, var(--s3));
  font-weight: 300; }

h4 {
  color: var(--midnight-lighter);
  text-transform: uppercase;
  font-size: var(--s-1);
  font-size: clamp(var(--s-1), 2vw, var(--s2)); }

h5 {
  margin-bottom: var(--s-3);
  color: var(--midnight-grey);
  font-size: var(--s-1);
  font-size: clamp(18px, var(--s-1), var(--s0)); }

h6 {
  margin-bottom: var(--s-5);
  color: var(--midnight-lighter);
  font-size: var(--s-3);
  font-size: clamp(17px, 4vw, var(--s-1));
  margin-block-start: 0em;
  margin-block-end: 0em; }

p, .p {
  margin-bottom: var(--s-2);
  font-family: var(--font-primary);
  font-size: var(--s0);
  font-size: clamp(var(--s0), 4vw, var(--s1));
  font-weight: 300;
  hyphens: none; }

article,
ul,
li {
  font-family: var(--font-primary);
  font-size: var(--s1);
  font-size: clamp(18px, 4vw, var(--s1)); }

code,
pre {
  font-family: monospace;
  font-size: var(--s0);
  width: 100%;
  overflow: hidden; }

blockquote {
  font-style: italic;
  text-indent: 5vw; }

time {
  font-family: var(--font-secondary);
  font-size: var(--s0);
  margin-top: 0rem;
  line-height: 1;
  color: var(--text-accent-color); }

hr {
  border: 0.05rem solid var(--hr);
  width: 100%; }

.lead {
  font-family: var(--font-primary);
  font-weight: 800;
  font-size: 4.5rem;
  font-size: clamp(var(--s3), 10vw, 6rem); }

/* 
    Lilita One
*/
a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--pink);
  text-underline-offset: 0.3ex;
  cursor: pointer; }
  a:hover {
    text-underline-offset: 0.2ex; }

h2 a {
  text-decoration: underline;
  text-decoration-color: var(--pink);
  text-decoration-thickness: 2px;
  text-underline-offset: 0ex; }
  h2 a:hover {
    text-underline-offset: 0ex; }

#layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

#main-container {
  margin: var(--s3) auto var(--s3);
  width: 90%;
  max-width: var(--max-width);
  flex: 1 0 auto; }

main {
  display: block;
  width: 100%; }

@media screen and (min-width: 70em) {
  #main-container {
    display: grid;
    grid-template-columns: 65% 1fr; } }

iframe {
  margin-top: var(--s0);
  margin-bottom: var(--s-2); }

hr {
  border: none;
  border-top: 1px solid var(--midnight); }

body {
  background: var(--background);
  color: var(--text-color); }

header {
  border-bottom: 0.15rem solid var(--midnight); }

#header--container {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--s-1) 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

#site--logo {
  max-width: 6rem; }
  #site--logo svg {
    height: 4rem;
    padding: 0 var(--s-5);
    stroke: var(--midnight);
    stroke-width: 20px;
    fill: none;
    stroke-linecap: round;
    stroke-miterlimit: 10; }

@media (min-width: 50em) {
  #header--container {
    padding: var(--s-3) 0; } }

nav a {
  text-decoration: none;
  text-decoration-color: inherit;
  text-decoration-thickness: inherit; }

nav ul {
  display: flex;
  padding-inline-start: 0;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--s0);
  font-size: var(--s-4);
  font-size: clamp(var(--s-5), var(--s-1), var(--s0));
  list-style: none; }

.nav--item {
  color: var(--text-color);
  font-family: var(--font-secondary);
  font-weight: 300;
  border-bottom: none; }

.nav--active {
  text-decoration: underline; }

footer {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto; }
  footer p {
    font-size: var(--s0);
    font-family: var(--font-secondary); }
    footer p:nth-child(2) {
      font-family: var(--font-primary); }
  footer a {
    text-decoration-color: inherit; }
  footer #footer--container p span {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0.5ch; }

#footer--container {
  width: 90%;
  padding: var(--s2) 0; }

@media (min-width: 70em) {
  #footer--container {
    width: 60%; } }

#announcement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background: black;
  color: var(--white);
  font-family: 'Roboto Slab', sans-serif; }
  #announcement a {
    margin: var(--s-5) 0 var(--s-4);
    border-bottom-color: var(--link-border-color);
    color: var(--white); }
    #announcement a:hover {
      border-bottom-color: var(--link-border-hover); }

.no-js .user-toggle {
  display: none; }

.toggle-button {
  display: inline-flex;
  padding: 0;
  background: transparent;
  color: var(--button-text-color);
  border: none;
  font-size: var(--s2);
  font-size: clamp(var(--s1), var(--s2), var(--s3));
  box-shadow: none;
  transition: background 500ms ease-in-out, color 200ms ease; }

.toggle-button__icon {
  background: var(--button-icon);
  width: var(--s3);
  height: var(--s3);
  filter: var(--button-icon-filter);
  transform: translateY(1px);
  /* Optical adjustment */
  transition: filter 500ms ease-in-out; }

.toggle-button:focus {
  outline: 1px solid var(--button-background-color);
  outline-offset: 0.5rem; }

.article-list {
  padding: 0;
  list-style: none; }
  .article-list li {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--s0); }
  .article-list li::before {
    content: "\200B";
    height: 0; }

.article__header {
  margin-bottom: var(--s-3); }

.article__aside {
  margin: 2ch 0;
  padding: 2ch;
  font-size: var(--s0);
  border: 0.2ch solid var(--midnight-grey);
  border-radius: 10px; }
  .article__aside::before {
    content: 'ℹ️';
    padding-right: 1ch; }

.article__tags {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--s-2);
  list-style: none; }
  .article__tags li::before {
    content: '\200B'; }

/**
 * Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #282a36; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff79c6; }

.token.boolean,
.token.number {
  color: #bd93f9; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #50fa7b; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #f1fa8c; }

.token.keyword {
  color: #8be9fd; }

.token.regex,
.token.important {
  color: #ffb86c; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

code {
  padding: 0.2ch 0.5ch;
  font-size: var(--s-1);
  font-size: clamp(var(--s-1), 4vw, var(--s0));
  background: var(--grey);
  border-radius: 0.25rem; }

#bookList {
  display: grid;
  padding-left: 0;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 1.75rem;
  list-style-type: none; }

.book img {
  height: clamp(25ch, 10vw, 30ch);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); }

.book .bookInfo {
  margin-top: var(--s0); }
  .book .bookInfo h4, .book .bookInfo p {
    margin: var(--s-2) 0; }
  .book .bookInfo p {
    line-height: 1; }
  .book .bookInfo .bookDate {
    font-size: clamp(var(--s-2), 4vw, var(--s-1)); }

#project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
  justify-items: start;
  padding-inline-start: 0; }

.project-list--item {
  min-width: 100%;
  padding: var(--s1);
  display: flex;
  flex-direction: column;
  gap: var(--s-1);
  background-color: var(--white);
  border: 3px solid var(--grey);
  border-radius: 15px; }
  .project-list--item p {
    font-size: var(--s0); }
  .project-list--item a {
    color: var(--pink); }

.project-list--item_description {
  flex: 1 0 auto; }

.project-list--item_links {
  font-size: var(--s0); }

.project-list--item_tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75ch; }
  .project-list--item_tags span {
    padding: 0.55ch;
    font-family: var(--font-primary);
    font-size: var(--s-1);
    background: transparent;
    border: 0.35ch solid var(--grey);
    border-radius: 5px; }
