---
layout: layouts/base.njk
---

<article>
    <h2>{{ title }}</h2>
    <time value="{{ item.date }}" >{{ date | readableDate }}</time>
    {# <time datetime="{{ date }}">{{ page.date.toDateString() }}</time> #}
    <div id="post">
        {{ content | section | safe }}
    </div>
    <div id="post">
        {{ content | section('remainder') | safe }}
    </div>
    {% if tags -%}
        <ul id="tags">
                <li>Filed Under:</li>
            {% for item in tags -%}
                <li class="tag--item">
                    <a href="/tags/{{ item }}">{{ item }}</a>
                </li>
            {% endfor -%}
            <ul></div>
        {% endif -%}
    </article>