---
layout: layouts/base.njk
---

<article>
    <h1>{{ title }}</h1>
    <time value="{{ item.date }}" >{{ date | readableDate }}</time>
    {# <time datetime="{{ date }}">{{ page.date.toDateString() }}</time> #}
    <div id="post">
        {{ content | safe }}
    </div>
    {% if tags %}
        <ul id="tags">
                <li>Filed Under:</li>
            {% for item in tags %}
                <li class="tag--item">
                    <a href="/tags/{{ item }}">{{ item }}</a>
                </li>
            {% endfor %}
            <ul></div>
        {% endif %}

    </article>